// lo suyo es tener unos colores y luego ya coger variables e igualalrlas a estos colores
// porque puede ser que en algun momento tengamos cosas diferentes que tengan el mismo color

$background-color: #050020;
$text-color: rgb(232, 252, 255);
$profile-border-color: #e3fbff99;
$shadow-color: #00000044;
$section-border-color: #e8fcff1a;
$link-color: aqua;
$section-title-color: #e8fcff80;
$_salmorejo:  linear-gradient(to bottom, rgba(195, 67, 255, 0),rgba(195, 67, 255, 0),rgba(5, 0, 32, 0.1), rgb(5, 0, 32));