@import "../1settings/colors.scss";

a:link {
  color:$link-color;
  text-decoration: none;
}
  
/* visited link */
a:visited {
  color: $link-color;
}

/* mouse over link */
a:hover {
  color: $link-color;
}

/* selected link */
a:active {
  color: $link-color;
}