.entrada{
    background-image: linear-gradient(to bottom left , rgba(33, 23, 175, 0), rgba(255, 255, 255, 0.123));
    border-radius: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: #e8fcff1a;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.267);
    width: 304px;

    h2{
        margin: 1rem;
    }

    .content{
        padding: 0 1rem 0 1rem;
    }

    ul{
        margin-top: 0px;
    }

    .portada{
        border-radius: 10px 10px 0 0;
        height: 200px;
        width: 304px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: dodgerblue;
        // background-image: url(../../../img/grid.png);
        // background-size:none;
        // background-repeat: no-repeat;
    }
}