header{
    font-family: 'Roboto', sans-serif;

    display:grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 1fr;
    height: 450px;
    margin-bottom: 2rem;
    align-items: flex-end;
    gap: 0.8rem;
    @media screen and (min-width: 35rem) {
        grid-template-columns: 180px 230px 1fr; 
    }
    
    background-image:linear-gradient(to bottom, rgba(195, 67, 255, 0),rgba(195, 67, 255, 0),rgba(5, 0, 32, 0.1), rgb(5, 0, 32)),url(../img/salmorejo.png);
    background-size:cover;
    background-position-x: center;
    
    h1, p{
        margin: 5px 0px 0px 0px;
        grid-column: 2;
    }
}
