nav{
    display:flex;
    gap: 1rem;
    margin: 0.5rem 1rem;
    align-items: center;

    h3{
        margin-top: 0.7rem;
    }

    .nav-link{
        text-decoration: none;
        padding: 0rem 0.7rem ;
        border-radius: 5px;
        //border: 1px solid;
        // background-color:rgba(255, 255, 255, 0.1);
        // border-color: rgba(255, 255, 255, 0.2 )
    }
    .nav-link:hover{
        background-color:rgba(255, 255, 255, 0.8 );
        color:#050020;
    }
      
    a:link, a:visited{
        color:rgb(232, 252, 255);
    }
      
    a:hover, a:active{
        color:rgb(232, 252, 255);
    }
}

