.section {
  background-image: linear-gradient(to bottom left, rgba(33, 23, 175, 0), rgba(255, 255, 255, 0.123));
  border-radius: 10px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #e8fcff1a;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.267);
}

.section h2 {
  margin: 1rem;
}

.section .content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.section ul {
  margin-top: 0px;
}
