a:link, :visited {
  color: aqua;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: aqua;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: aqua;
}
