.blog {
  // display:grid;
  // margin: 1rem;
  // grid-template-columns: 1fr 1fr;
  // justify-content: left;
  // gap: 1rem;
  // /* desktop1 */
  // @media screen and (min-width: 60rem) {
  //     /* lo que hace fr es que nos reparte el espacio disponible */
  //     grid-template-columns: 1fr 1fr 1fr;
  // }
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
  /* le damos un ancho y el resto para el aside  ademas ponemos el grow a 1 para que ocupe todo lo que pueda*/
  flex-grow: 1; 
}