#aboutme{grid-area: aboutme;}
#education{grid-area: education;}
#currently{grid-area: currently;}
#github{
    grid-area: github;
    margin: auto;
}

body{
    font-family: 'Roboto', sans-serif;

    max-width: 1300px;
    margin: 0 auto;
    background-color: #050020;
    color:rgb(232, 252, 255);
    
    h3{
        margin-bottom: 10px;
    }

    .wrapper {
        display:grid;
        margin: 1rem;
        grid-template-areas: 'aboutme' 'currently' 'education' 'github';
        grid-template-columns: 1fr ;
        justify-content: center;
        gap: 1rem;
        /* desktop1 */
        @media screen and (min-width: 60rem) {
            /* lo que hace fr es que nos reparte el espacio disponible */
            grid-template-areas: 
            'aboutme     education'
            'currently   github';
            grid-template-columns: 2fr 1fr;
        }
    }
}


