*{
    margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(5, 0, 32);
    color:rgb(232, 252, 255);
}

header{
    display:grid;
    grid-template-columns: 180px 1fr 1fr;
    height: 400px;
    align-items: flex-end;
    margin-bottom: 2rem;
    background-image: 
    linear-gradient(to bottom, rgba(195, 67, 255, 0),rgba(195, 67, 255, 0),rgba(5, 0, 32, 0.219), rgb(5, 0, 32)),
    url("https://raw.githubusercontent.com/JJtrenado/PersonalPortfolio/main/img/salmorejo.png");

    background-size:cover;
    background-position-x: center;
}

.profile {
    object-fit:cover;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgb(232, 252, 255);
    margin-left: 1rem;
}

.contacto{
    margin-left: auto;
    margin-right: 1rem;
    display: block;
}

#aboutme{
    grid-area: aboutme;
}
#education{
    grid-area: education;
}
#currently{
    grid-area: currently;
}



/* mobile first */
.blockout {
    display:grid;
    margin: 1rem;
    grid-template-areas: 'aboutme' 'currently' 'education';
    grid-template-columns: 1fr ;
    justify-content: center;
    gap: 1rem;
}

/* desktop1 */
@media screen and (min-width: 50rem) {
    /* lo que hace fr es que nos reparte el espacio disponible */
    .blockout {
        grid-template-areas: 
        'aboutme     education'
        'currently   education';
        grid-template-columns: 2fr 1fr;
    }
}

.section{
    background-image: linear-gradient(to bottom left , rgba(33, 23, 175, 0), rgba(255, 255, 255, 0.123));
    border-radius: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgb(232, 252, 255, 0.1);

    /* box-shadow: 2px 2px 5px #48529944; */
}  

.content{
    padding: 1rem;
}

.section .titulo{
    /* border-radius: 5px 5px 0px 0px; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(232, 252, 255, 0.5);

}

.section h2{
    padding: 0.3rem 1rem;
}

ul{
    margin-left: 2rem;
}

a:link {
    color:aqua;
  }
  
  /* visited link */
  a:visited {
    color: aqua;
  }
  
  /* mouse over link */
  a:hover {
    color: aqua;
  }
  
  /* selected link */
  a:active {
    color: aqua;
  }
