*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

header{
    margin: 1rem;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px #48529944;
}

/* mobile first */
.blockout {
    display:grid;
    margin: 1rem;
    grid-template-areas: 'aboutme' 'currently' 'education';
    grid-template-columns: 1fr ;
    justify-content: center;
    gap: 1rem;
}

.section{
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px #48529944;
}
#aboutme{
    grid-area: aboutme;
}
#education{
    grid-area: education;
}
#currently{
    grid-area: currently;
}

/* desktop1 */
@media screen and (min-width: 1000px) {
    /* lo que hace fr es que nos reparte el espacio disponible */
    .blockout {
        grid-template-areas: 
            'aboutme     education'
            'currently   education';
        grid-template-columns: 2fr 1fr ;
    }
}

.content{
    padding: 1rem;
}

.section .titulo{
    /* border-radius: 5px 5px 0px 0px; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:rgb(11, 0, 167);
    background-color: rgb(73, 91, 252); 
}

.section h2{
    padding: 0.3rem 1rem;
    color: white;
}

.tab{
    margin-left: 2rem;
}